
/* 
 * Base
 */

	body {
		color: $gray;
		@include font('facit');
	}

	/* Headings */

	h1, h2, h3, h4, h5, h6 {
		@include font('aviano', 400);
	}
	
	a {
		color: $orange;
	}

/* 
 * Theme
 */

	/* All Caps Text */
	.allcaps {
		text-transform: uppercase;
	}

	.text--blenny {
		@include font('blenny');
	}

/* 
 * Unique
 */

